{% load static %}
<nav class="navbar bg-dark border-bottom border-body">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:product_list' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            Shop
        </a>
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-light">
                Menu
            </span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'catalog:product_list' %}">Домашняя страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'catalog:category' %}">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'catalog:contacts' %}">Контакты</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск информации по сайту"
                       aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Найти</button>
            </form>
        </div>
    </div>
</nav>