{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card-header">
                <div class="card-title">
                    <h4>Регистрация</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                       Зарегистрироваться
                    </button>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </form>
</div>
{% endblock %}