{% extends 'catalog/base.html' %}
{% load tags_and_filters %}
{% block content %}
<div class="col-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }} ({{ object.slug }})</h4>
        </div>
        <div class="card-body">
            <img src="{{ object.preview | media }}" alt="preview" width="300" height="250"
                 class="d-inline-block align-text-top">
            <h2 class="card-title pricing-card-title">{{ object.slug }}</h2>
            <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                <li>{{ object.information }}</li>
            </ul>
        </div>
        <div class="card-footer">
            Просмотры: {{ object.count_views }}
        </div>
    </div>
</div>
{% endblock %}