{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:create_blog' %}">
        Добавить новый блог
    </a>
</div>
{% for object in object_list %}
<div class="col-6" xmlns="http://www.w3.org/1999/html">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
            <p>{{ object.slug }}</p>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-center">
                <li>{{ object.information|slice:100 }}</li>
            </ul>
            <div class="btn-group">
                <p class="d-inline-flex gap-1">
                    <a href="{% url 'catalog:view' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary">
                        Инфо
                    </a>
                    <a href="{% url 'catalog:edit' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary">
                        Обновить
                    </a>
                    {% if user.is_superuser or user.owner %}
                    <a href="{% url 'catalog:delete_blog' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary">
                        Удалить
                    </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}